:root {
  min-width: 320px;
}

/*On click load*/

#overlay {
  position: relative;
  top: 0px;
  left: 0px;
  width: 100%;
  min-height: 100%;
  background-image: url(../img/cnt_bk.png);
  background-repeat: repeat-y;
  background-position: center top;
  background-size: 100% auto;
  z-index: 1000;
  opacity: .95;
}

/*Page Styles*/

.content {
  position: relative;
  /*  height: 100%;*/
  overflow: hidden;
  max-width: 100%;
}
#closeBt {
  position: fixed;
  right: 2%;
}
#tiLine img {
  max-width: 100%;
}
#btmWrap {
  overflow: auto;
  max-width: 950px;
  margin: 0 auto;
}
#btmInnerWrap {
  text-align: left;
  margin-top: 80px;
  margin-bottom: 80px;
}
#figNumber {
  margin-bottom: 15px;
}
#figTi {
  font-size: 35px;
  letter-spacing: 0.1em;
  line-height: 1.2em;
}
#btmArticle {
  width: 100%;
}
#btmArticle h3 {
  font-size: 138.5%;
  letter-spacing: 0.1em;
  line-height: 1.4em;
  font-weight: 600;
  margin-bottom: 50px;
  margin-top: 100px;
}
#btmArticle p {
  font-size: 108%;
  letter-spacing: 0.05em;
  line-height: 180%;
  text-align: justify;
}
#btmArticle > section > p > img {
  max-width: 800px !important;
}
.img-left,
.img-right {
  overflow: hidden;
  height: auto;
}
.img-left img {
  float: left;
  margin: 8px 15px 0 0 !important;
  padding: 0 !important;
  border: 0 !important;
}
.img-right img {
  float: right;
  margin: 0 0 0 15px !important;
  padding: 0 !important;
  border: 0 !important;
}
.img-left p,
.img-right p {
  overflow: hidden;
  height: auto;
}
#btmNavi {
  margin-bottom: 120px;
}
#btmNavi ul {
  list-style: none;
  margin: 20px 0 0 0;
}
#btmNavi .current {
  background-color: #FF0;
}
#btmNavi ul li {
  display: block;
  float: left;
  margin: 0px 20px 0 0;
  padding: 6px;
  font-weight: bold;
  font-size: 108%;
}
.clearfix:after {
  content: ".";
  display: block;
  height: 0;
  font-size: 0;
  clear: both;
  visibility: hidden;
}

/*fixing every page*/


/* history */

.history {
  margin-bottom: 20px;
  line-height: 1.5em;
  letter-spacing: 0.2em;
}
.history dt {
  font-weight: bold;
  float: left;
  max-width: 12em;
  padding-bottom: 13px;
  padding-top: 13px;
}
.history dd {
  padding-bottom: 13px;
  padding-top: 13px;
  padding-left: 12em;
  border-bottom: dotted 1px #555555;
}
.history dd:last-child {
  border: none;
}

/* caohagan2050 */

.pdfBt {
  font-size: 108%;
  letter-spacing: 0.2em;
  line-height: 100%;
  font-weight: bold;
}
.pdfBt img {
  margin-bottom: -8px;
}

/* islandmaster */

.islandMasterBookTi {
  font-weight: bold;
  font-size: 108%;
  padding-bottom: 10px;
  margin-bottom: 20px;
  display: block;
  width: 100%;
  border-bottom: dotted 1px #555555;
}

/* ngo */

dl.listNgo {
  margin-bottom: 5px;
  line-height: 1.5em;
  letter-spacing: 0.2em;
}
dl.listNgo dt {
  float: left;
  width: 1.5em;
  padding-bottom: 5px;
}
dl.listNgo dd {
  padding-bottom: 13px;
  padding-left: 1.5em
}

/* 03 fig02
-------------------------------------------------------------------*/


/* activity */

.activity {
  width: 100%;
  margin-bottom: 50px;
}

/* 04 fig03
-------------------------------------------------------------------*/


/* caohagan house */

.caohaganHouse {
  border: dotted 1px #555555;
  max-width: 250px;
  height: 100%;
  margin-right: 13px;
  margin-bottom: 20px;
  float: left;
}
.caohaganHouse p {
  padding: 0 5px 5px 5px;
}
#chgTop {
  height: 400px;
}
#chgBottom {
  height: 420px;
}

/* expenses */

.expTable {
  margin-bottom: 50px;
  width: 100%;
}
.expTable td {
  border: 1px solid #888;
  padding: 10px;
  vertical-align: middle;
  font-size: 93%;
}

/* Q&A */

#qa p {
  margin-bottom: 40px;
}

/* One day tour */

#tourpanf {
  margin-top: 50px;
  font-size: 93%;
  max-width: 450px;
  margin-bottom: 300px;
}
#tourpanf .L {
  float: left;
  max-width: 200px;
}
#tourpanf .R {
  float: right;
  max-width: 200px;
}

/* 05 fig04
-------------------------------------------------------------------*/


/* about */

#quiltProf {
  padding-top: 20px;
  margin-top: 50px;
  border-top: dotted 1px #555555;
}

/* quiltgarden */

#storeInfo {
  padding-top: 20px;
  margin-top: 20px;
  border-top: dotted 1px #555555;
}

/* gallery */

.galleryItem {
  max-width: 240px;
  margin-right: 25px;
  float: left;
  height: 450px;
  font-size: 85%;
}

/* 05 fig05
-------------------------------------------------------------------*/


/* COLUM */

#columDate {
  font-size: 100%;
  margin-top: 50px;
  margin-bottom: -95px;
}
#columBody {
  font-size: 123.1%;
}
#columNav {
  font-size: 104%;
  text-align: center;
  max-width: 800px;
  height: 50px;
  margin-top: 50px;
}
#columNav #L {
  max-width: 390px;
  float: left;
  text-align: right;
}
#columNav #R {
  max-width: 390px;
  float: right;
  text-align: left;
}
.columList {
  font-size: 100%;
}
.columList li {
  line-height: 1.5em;
  margin-bottom: 1em;
}
.dc {
  list-style-type: decimal;
}
.ita {
  font-style: italic;
}

/*Basic Styles*/

body {
  width: 100%;
  text-align: center;
  font-size: 13px;
  font-family: 'Kozuka Mincho Pro', 'Kozuka Mincho Std', '小塚明朝 Pro R', '小塚明朝 Std R', 'Hiragino Mincho Pro', 'ヒラギノ明朝 Pro W3', 'HGS明朝E', 'ＭＳ Ｐ明朝', 'MS PMincho', Georgia, Times, Baskerville, Palatino, serif;
  background-image: url(../img/background.png);
  background-repeat: repeat-y;
  background-position: center top;
  background-size: 100% auto;
}
main {
  width: 100%;
  margin: 0 auto;
}
#wrapper {
  position: relative;
  max-width: 1080px;
  margin: 0 auto;
}
.height {
  height: 4348px;
}

/*Link Styles*/

a {
  color: #000000;
  font-style: normal;
  text-decoration: none;
}
a:link {
  color: #000000;
}
a:visited {
  color: #000000;
}
a:hover {
  color: #888888;
}
a:active {
  color: #000000;
}
.news a:hover {
  color: #F90;
}
#section5 a {
  color: white;
}

/*Baground Images style*/

#bgobj img {
  max-width: 100%;
  height: auto;
}
.bgimg1 img {
  max-width: 100%;
  height: auto;
}
.bgimg2 {
  position: absolute;
  top: 1290px;
  right: 0;
  background-position: contain;
}
.bgimg3 {
  position: absolute;
  top: 3150px;
  left: 0;
  z-index: 100;
}
#sitehead {
  position: absolute;
  top: 0;
  left: 13.5%;
}

/*Round Image Style*/

.round-img {
  z-index: 500;
  border-radius: 50%;
  overflow: hidden;
  box-shadow: rgba(0, 0, 0, 0.498039) 0px 0px 20px;
  position: absolute;
  background-color: rgb(255, 255, 255);
  margin-left: -62.1257px;
}
.ri1 {
  width: 250px;
  height: 250px;
  top: 300px;
  left: 11.6%;
}
.ri2 {
  width: 170px;
  height: 170px;
  top: 560px;
  left: 19.95%;
}
.ri3 {
  width: 220px;
  height: 220px;
  top: 750px;
  left: 43.1%;
}
.ri4 {
  width: 190px;
  height: 190px;
  top: 850px;
  left: 20.9%;
}
.ri5 {
  width: 240px;
  height: 240px;
  top: 1050px;
  right: 38.4%;
}
.ri6 {
  width: 230px;
  height: 230px;
  top: 1950px;
  left: 9.8%;
}
.ri7 {
  width: 200px;
  height: 200px;
  top: 2100px;
  left: 34.8%;
}
.ri8 {
  width: 220px;
  height: 220px;
  top: 2550px;
  right: 17.1%;
}
.ri9 {
  width: 190px;
  height: 190px;
  top: 2700px;
  right: 3.2%;
}
.ri10 {
  width: 300px;
  height: 300px;
  top: 3000px;
  left: 20.9%;
}
.ri11 {
  width: 200px;
  height: 200px;
  top: 3300px;
  left: 33.8%;
}

/*News Section with thoes yellow circles*/

.news {
  z-index: 500;
  width: 170px;
  height: 170px;
  border-radius: 50%;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.5);
  background-color: #f0ff00;
}
#news1 {
  position: absolute;
  top: 390px;
  right: 35.6%;
}
#news2 {
  position: absolute;
  top: 330px;
  right: 14.3%;
}
.news h4 {
  margin: 20px;
  font-weight: bold;
}
.news dl {
  margin: 0 20px 0 20px;
}
.news dl dt {
  text-align: left;
  font-size: 12px;
  font-weight: bold;
  margin-bottom: 5px;
}
.news dl dd {
  text-align: left;
  line-height: 1.3em;
}
.news img {
  margin-top: 20px;
}

/*Sections Styles*/

section {
  z-index: 100;
}
#section1 {
  max-width: 339px;
  position: absolute;
  top: 570px;
  right: 6.11%;
}
#section2 {
  max-width: 513px;
  height: 581px;
  position: absolute;
  top: 1266px;
  left: 7%;
}
#section3 {
  max-width: 396px;
  position: absolute;
  top: 1900px;
  right: 2.6%;
}
#section4 {
  max-width: 545px;
  position: absolute;
  top: 2300px;
  left: 7.9%;
}
#section5 {
  max-width: 395px;
  position: absolute;
  top: 3000px;
  right: 10.1%;
  color: white;
}

/*Section basic styles*/

.figImg {
  margin-bottom: 10px;
}
.section-title {
  font-size: 167%;
  line-height: 1.2em;
  color: #FFF;
  margin-bottom: 30px;
}
.figCopy {
  font-size: 123.1%;
  line-height: 1.3em;
  color: #FFF;
  font-weight: bold;
  margin-bottom: 74px;
}
.section-text {
  font-size: 100%;
  letter-spacing: 0.05em;
  line-height: 1.8em;
  text-align: justify;
  margin: 0 0 20px 0;
}
.brushLine {
  width: 100%;
  height: 2px;
  background-image: url(../img/tmp_brushline.png);
  background-position: center;
}
.nav ul {
  list-style: none;
  margin: 20px 0 0 0;
  width: 100%;
}
.nav ul li {
  display: block;
  background-image: url(../img/tmp_arrow-a.png);
  background-repeat: no-repeat;
  height: 18px;
  float: left;
  padding: 3px 0 0 25px;
  margin: 0px 9px 10px 0;
  font-weight: bold;
  font-size: 108%;
  letter-spacing: 0;
}

/*section specific styles*/

.section-content {
  position: absolute;
  left: 0px;
  padding: 28px 20px 5px 20px;
}
#section4 .section-content {
  padding-top: 65px;
  padding-bottom: 165px;
}
#section4 .section-title,
#section4 .figCopy {
  margin-bottom: 30px;
  color: black;
}
#section5 .figDate,
#section5 .figDate {
  margin-bottom: 5px;
  text-align: left;
  letter-spacing: 0.2em;
}
#section5 .figTitle {
  font-size: 131%;
  margin-bottom: 30px;
  text-align: left;
  line-height: 1.2em;
}
#section5 .nav ul li {
  max-width: 300px;
  color: #FFF;
  background-image: url(../img/idx_arrow_wb.png);
  background-position: 1%;
  display: block;
}

/*Section mid background*/

#section1 .idx-bkMid {
  background-image: url(../img/idx_cnt_fig01_bk_m.png);
}
#section2 .idx-bkMid {
  background-image: url(../img/idx_cnt_fig02_bk_m.png);
}
#section3 .idx-bkMid {
  background-image: url(../img/idx_cnt_fig03_bk_m.png);
}
#section4 .idx-bkMid {
  background-image: url(../img/idx_cnt_fig04_bk_m.png);
}
#section5 .idx-bkMid {
  background-image: url(../img/idx_cnt_fig05_bk_m.png);
}
.idx-bkMid {
  background-repeat: repeat-y;
}
.idx-bkTop {
  line-height: 0;
}

/*Footer Styles*/

footer {
  width: 100%;
  background: url(../img/foot_bk.png);
  background-repeat: no-repeat;
  background-position: center top;
  height: 690px;
  position: absolute;
  top: 3658px;
}
.foot-content {
  position: relative;
  z-index: 300;
  max-width: 1080px;
  height: 690px;
  margin: 0 auto;
}
#bird1 {
  position: absolute;
  top: 250px;
  left: 22.7%;
}
#bird2 {
  position: absolute;
  top: 420px;
  right: 14.5%;
}
#tree {
  position: absolute;
  top: 50px;
  right: 13.2%;
}
#logo {
  position: absolute;
  top: 385px;
  left: 34.1%;
}
#copyright {
  position: absolute;
  top: 562px;
  left: 37.1%;
}

/*Responsive styles*/

@media screen and (max-width: 1080px) {
  #wrapper {
    width: 100%;
  }
  #section1 {
    right: 1%;
  }
  #section2 {
    left: 1%;
  }
  #section3 {
    right: 1%;
    top: 1670px;
  }
  #section4 {
    left: 1%;
  }
  #section5 {
    right: 1%;
  }
  .ri1 {
    left: 1%;
  }
  .ri2 {
    left: 18%;
  }
  .ri3 {
    left: 40%;
  }
  .ri4 {
    left: 10%;
  }
  .ri6 {
    left: 5%;
  }
  .ri7 {
    left: 30%;
  }
  .ri8 {
    top: 2350px;
    right: 15%;
  }
  .ri9 {
    top: 2540px;
    right: 1%;
  }
  .ri10 {
    width: 250px;
    height: 250px;
    top: 2730px;
    right: 10%;
    left: auto;
  }
  .ri11 {
    top: 3000px;
  }
  #news1 {
    right: 25%;
  }
  #news2 {
    right: 3%;
  }
}
@media screen and (max-width: 950px) {
  #news1 {
    top: 200px;
    right: 30%;
  }
  #news2 {
    top: 140px;
    right: 1%;
  }
  .ri1 {
    top: 215px;
  }
  .ri2 {
    top: 500px;
  }
  .ri3 {
    top: 720px;
    left: 28%;
  }
  .ri4 {
    top: 650px;
    left: .2%;
  }
  .ri5 {
    width: 225px;
    height: 225px;
    top: 870px;
    left: .5%;
  }
  .ri6 {
    width: 190px;
    height: 190px;
    top: 1050px;
    left: 25%;
    opacity: .7;
  }
  .ri7 {
    width: 180px;
    height: 180px;
    top: 1150px;
    left: 1%;
    opacity: .8;
  }
  .ri8 {
    width: 180px;
    height: 180px;
    top: 1340px;
    right: 25%;
    opacity: .5;
  }
  .ri9 {
    top: 1500px;
    right: 1%;
  }
  .ri10 {
    top: 1700px;
    right: 1%;
    z-index: 50;
  }
  .ri11 {
    top: 1980px;
    left: auto;
    right: 15%;
    z-index: 50;
  }
  .bgimg2 {
    top: 980px;
  }
  #sitehead {
    top: -60px;
  }
  .bgimg3 {
    top: 3200px;
  }
  #section1 {
    top: 320px;
    right: 0;
    z-index: 240;
  }
  #section2 {
    top: 1380px;
    left: 0;
    z-index: 246;
  }
  #section3 {
    top: 1990px;
    right: 0;
    z-index: 245;
  }
  #section4 {
    top: 2620px;
    left: 0;
    z-index: 220;
  }
  #section5 {
    top: 3300px;
    right: 0;
    z-index: 250;
  }
  #tree {
    top: 250px;
    right: 3%;
  }
  #bird1 {
    top: 430px;
    left: 10%
  }
  #bird2 {
    top: 500px;
    right: 5%;
  }
  #logo {
    top: 500px;
    left: 30%;
  }
  #copyright {
    top: 640px;
    left: 35%;
  }
  #btmWrap {
    width: 95%;
  }
}
@media screen and (max-width: 768px) {
  #wrapper {
    height: auto;
  }
  #news1 {
    top: 150px;
    right: auto;
    left: 5%
  }
  #news2 {
    top: 150px;
    right: 5%;
  }
  /*  Making the section right*/
  #section-continer {
    width: 100%;
    position: absolute;
    top: 10px;
    text-align: center !important;
  }
  #section1,
  #section2,
  #section3,
  #section4,
  #section5 {
    left: 0;
    right: 0;
    margin: 0 auto 30px;
  }
  .section-content {}
  .idx-bkTop img,
  .idx-bkMid,
  .idx-bkBtm img {
    width: 100%;
  }
  .history dd {
    padding-left: 30%;
  }
  /*
  .idx-bkTop,
.idx-bkMid,
.idx-bkBtm,
*/
  #round-img-container,
  .bgimg2,
  .bgimg3,
  #bird2 {
    display: none;
  }
  .foot-content {
    width: 100%;
  }
  #logo,
  #copyright {
    left: 0;
    right: 0;
    margin: 0 auto;
  }
}
@media screen and (max-width: 540px) {
  html {
    background: red;
  }
  #section1,
  #section2,
  #section3,
  #section4,
  #section5 {}
  #section1 {}
  #section2 {
    top: 1430px;
  }
  #section2 .idx-bkMid {
    height: 160px !important;
  }
  /*
  .figCopy {
    margin-bottom: 35px;
  }
  .section-title {
    margin-bottom: 15px;
  }
*/
  /*
  #section2 .idx-bkMid {
   height: 200px;
 }
 #section2 .idx-bkBtm {}
*/
  #section3 {
    top: 2250px;
  }
  #section4 {
    top: 2900px;
  }
  #section5 {
    top: 3650px;
  }
  #section5 .section-content {
    text-align: center;
    max-width: 95%;
  }
  footer {
    position: static;
    bottom: 0;
  }
  #bird1 {
    display: none;
  }
  #logo,
  #copyright {
    max-width: 100%;
  }
  #section4 .idx-bkMid {
    height: 220px !important;
  }
}
@media screen and (max-width: 460px) {
  #section2 .idx-bkMid {
    height: 220px !important;
  }
  #section3 {
    top: 2300px;
  }
  #section4 {
    top: 3000px;
  }
  #section4 .idx-bkMid {
    height: 260px !important;
  }
  #section5 {
    top: 3800px;
  }
  iframe {
    width: 98%;
  }
}
@media screen and (max-width: 420px) {
  #section2 .idx-bkMid {
    height: 280px !important;
  }
  #section4 .idx-bkMid {
    height: 300px !important;
  }
  #section5 {}
}
@media screen and (max-width: 380px) {
  .figCopy {
    margin-bottom: 40px;
  }
  #section2 .idx-bkMid {
    height: 350px !important;
  }
  #section3 {
    top: 2350px;
  }
  #section3 .idx-bkMid {
    height: 240px !important;
  }
  #section4 {
    top: 3100px;
  }
  #section4 .idx-bkMid {
    height: 340px !important;
  }
  #section5 {
    top: 3950px;
  }
  #section5 .idx-bkMid {
    height: 140px !important;
  }
  #tree {
    display: none;
  }
}
@media screen and (max-width: 350px) {
  #section3 .idx-bkMid {
    height: 300px !important;
  }
  #section4 .idx-bkMid {
    height: 340px !important;
  }
  #section5 {
    top: 3980px;
  }
  #section5 .idx-bkMid {
    height: 200px !important;
  }
}
